/**
 * Border Radius
 *
 * https://developer.mozilla.org/en-US/docs/Web/CSS/border-radius
 *
 */

@mixin border-radius($radii...) {
  -webkit-border-radius: $radii;
     -moz-border-radius: $radii;
          border-radius: $radii;
}


/**
 * Background Size
 *
 * https://developer.mozilla.org/en-US/docs/Web/CSS/background-size
 *
 */

@mixin background-size($value...) {
  -webkit-background-size: $value;
     -moz-background-size: $value;
       -o-background-size: $value;
      -ms-background-size: $value;
          background-size: $value;
}

/**
 * Font Smoothing
 *
 * https://developer.mozilla.org/en-US/docs/Web/CSS/font-smooth
 *
 */

@mixin font-smoothing($value...) {
  -webkit-font-smoothing: $value;
     -moz-font-smoothing: $value;
       -o-font-smoothing: $value;
      -ms-font-smoothing: $value;
          font-smoothing: $value;
}

/**
 * Transition
 *
 * https://developer.mozilla.org/en-US/docs/Web/CSS/transition
 *
 */
@mixin transition($transitions...) {
  -webkit-transition: $transitions;
     -moz-transition: $transitions;
       -o-transition: $transitions;
          transition: $transitions;
}

@mixin transition-delay($delay...) {
  -webkit-transition-delay: $delay;
     -moz-transition-delay: $delay;
       -o-transition-delay: $delay;
          transition-delay: $delay;
}

@mixin transition-duration($duration...) {
  -webkit-transition-duration: $duration;
     -moz-transition-duration: $duration;
       -o-transition-duration: $duration;
          transition-duration: $duration;
}

@mixin transition-property($properties...) {
  -webkit-transition-property: $properties;
     -moz-transition-property: $properties;
       -o-transition-property: $properties;
          transition-property: $properties;
}

@mixin transition-timing-function($timing...) {
  -webkit-transition-timing-function: $timing;
     -moz-transition-timing-function: $timing;
       -o-transition-timing-function: $timing;
          transition-timing-function: $timing;
}

/**
 * Transform
 *
 * https://developer.mozilla.org/en-US/docs/Web/CSS/transform
 *
 */

@mixin transform($transforms...) {
  -webkit-transform: $transforms;
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
          transform: $transforms;
}

@mixin transform-origin($origin) {
  -webkit-transform-origin: $origin;
     -moz-transform-origin: $origin;
       -o-transform-origin: $origin;
      -ms-transform-origin: $origin;
          transform-origin: $origin;
}

/**
 * Transform
 *
 * https://developer.mozilla.org/en-US/docs/Web/CSS/backface-visibility
 *
 */

@mixin backface-visibility($visibility) {
  -webkit-backface-visibility: $visibility;
     -moz-backface-visibility: $visibility;
       -o-backface-visibility: $visibility;
      -ms-backface-visibility: $visibility;
          backface-visibility: $visibility;
}

/**
 * Gradients
 *
 *
 *
 */

@mixin linear-gradient($fallback, $destination, $colors...) {

  $direction-map: (
    to top:           bottom,
    to top right:     bottom left,
    to right:         left,
    to bottom right:  top left,
    to bottom:        top,
    to bottom left:   top right,
    to left:          right,
    to top left:      bottom right
  );

  $starting-point: top;

  @if map-has-key($direction-map, $destination) {
    $starting-point: map-get($direction-map, $destination);
  }

  background-color: $fallback; /* fallback color if gradients are not supported */
  background-image: -webkit-linear-gradient($starting-point, $colors); /* For Chrome and Safari */
  background-image:    -moz-linear-gradient($starting-point, $colors); /* For old Fx (3.6 to 15) */
  background-image:     -ms-linear-gradient($starting-point, $colors); /* For pre-releases of IE 10*/
  background-image:      -o-linear-gradient($starting-point, $colors); /* For old Opera (11.1 to 12.0) */
  background-image:         linear-gradient($destination, $colors);

}

/**
* Margin / Padding destruction
*
*
*
*/

@mixin no-margin() {
  margin: 0;
  margin-top: 0;
  margin-right : 0;
  margin-bottom: 0;
  margin-left: 0;
}

@mixin no-padding() {
  padding: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}
