//\\//\\//\\//\\//\\//\\//\\
//\\ BREAKPOINTS /\\//\\//\\
//\\//\\//\\//\\//\\//\\//\\
$breakpoint_lap_width: 36em;
$breakpoint_desk_width: 54em;
$breakpoint_wall_width: 72em;
$breakpoint_jumbotron_width: 108em;










//\\//\\//\\//\\//\\//\\//\\
//\\ Z-INDEXES \//\\//\\//\\
//\\//\\//\\//\\//\\//\\//\\
// dark magic forced background
$stack_super_bottom: -1000;

// background images -> 0 + html source order (try to avoid negative z-index)
$stack_bg: 0;

// main content - unpositioned, sort of like 0
$stack_normal: 0;

// positioned elements (if html source order doesn't suffice)
$stack_positioned: 100;

// dark overlay to cover main content during other interations (eg nav drawer open)
$stack_overlay: 200;

// edge overlays (nav tabs, sticky footer, etc)
$stack_top: 300;

// dark overlay background for modal elements
$stack_modal_bg: 400;

// modal elements
$stack_modal: 500;

// temporary focus "ULTIMATE SUPER LEVEL"
$stack_super_top: 1000;










//\\//\\//\\//\\//\\//\\//\\
//\\ TRANSITION SPEEDS \//\\
//\\//\\//\\//\\//\\//\\//\\

$sprint: 125ms;
$run: 250ms;
$jog: 500ms;
$walk: 750ms;
$stroll: 1000ms;
$creep: 5000ms;










//\\//\\//\\//\\//\\//\\//\\
//\\ STANDARD MEASURES /\\//
//\\//\\//\\//\\//\\//\\//\\

$standard_spacing: 3em;
$standard_duration: $walk;
// $standard_timing_function: cubic-bezier(0.175, 0.885, 0.320, 1.275); // orig. was a bit much.
$standard_timing_function: cubic-bezier(0.175, 0.885, 0.320, 1.14);

