@import "utils/grid";

*, *:before, *:after {
  box-sizing: border-box; *behavior: url(/~assets/jhuedu/prototype/box-sizing.htc);
}

.center {
  max-width: $maxwidth + 0px;
  margin: 0 auto;
}

// If you mention a colspan or use the column class,
// activate the column settings
.column {
  margin-left: 0;
  margin-right: $gutter;
  float: left;

  &.last {
    margin-right: 0;
  }
}

// "Spacer" columns need at least a 1px height so
// they maintain their space in the float
.column.spacer {
  height: 1px;
}

.row {
  width: 100%;
  // clearfix thing
  overflow: hidden;
}

/**
 * Specific column settings
 */
.row.profile-block {

  .spacer {
    @include span(1 of 7);
  }

  .content {
    @include span(4 of 7);
    background-color: rgb(30,30,30);
    background-color: rgba(0,0,0,0.1);

    .spacer {
      @include span(1 of 4);
    }

    .text {
      @include span(2 of 4);
    }
  }
}
